###############################################################################
#                             [功能.cfg]
#                        to define functions
###############################################################################

#==============================================================================
#####----{设置}----
#------------------------------------------------------------------------------
function grub_settings {
	menuentry "${MENU_SETTINGS}" --class "设置" --id "设置" --hotkey "f12" {
		export SET=${prefix}/设置
		configfile ${SET}/2.设置.lst
	}
}
#==============================================================================

#==============================================================================
#####----{飞扬的小鸟}----
#------------------------------------------------------------------------------
function game_fb {
	GAME=${cmdpath}/游戏
	source ${GAME}/游戏.cfg
}
#==============================================================================

#==============================================================================
#####----{完全退出}----
#------------------------------------------------------------------------------
function bow_out {
	menuentry "${MENU_EXIT}" --class "出口" --hotkey "esc" {exit}
}
#==============================================================================

#==============================================================================
#####----{日期时间}----
#------------------------------------------------------------------------------
function refresh_date {
	export UTC=${HOUR} NOW_YEAR=${YEAR} NOW_MONTH=${MONTH} NOW_DAY=${DAY} NOW_WEEKDAY=${WEEKDAY}
	expr --set=NOW_HOUR ${UTC}${TIME_ZONE}
	save_env UTC NOW_HOUR NOW_YEAR NOW_MONTH NOW_DAY NOW_WEEKDAY
}
#------------------------------------------------------------------------------
function menu_date {
	menuentry "${NOW_DATE}" --class "主题/日历" --id "日期" {
		tetris
		export SELECTED=日期
		if [ "关" != "${schedule}" ]; then
			configfile ${prefix}/菜单.lst
		else
			configfile ${SET}/2-4.主题.lst
		fi
	}
}
#==============================================================================

#==============================================================================
#####----{全局环境}----
#------------------------------------------------------------------------------
function submenu_back {
	menuentry "${MENU_BACK}" --class "启事/返回" --hotkey "esc" {submenu_exit}
}
#------------------------------------------------------------------------------
function clear_default {
	menuentry "${MENU_RESET}" --class "开关/扫帚" --id "清" {
		export TIME_OUT=5 lang="" SLOT=A FYDEOS_VERSION=17 schedule=关 dark=关
		export DAWN_HOUR=6 DUSK_HOUR=18 TIME_ZONE= USB_MOUSE=关 PS2_MOUSE=关
		save_env TIME_OUT lang SLOT FYDEOS_VERSION schedule dark
		save_env DAWN_HOUR DUSK_HOUR TIME_ZONE USB_MOUSE PS2_MOUSE
		clear_menu
		normal
	}
}
#------------------------------------------------------------------------------
function menu_hidden {
	submenu "" --hotkey "delete" --hidden {
		clear_menu
		submenu_back
		submenu "${MENU_HIDDEN}" --class "设置/隐藏" --id "隐藏" {
			source ${prefix}/隐藏.lst
		}
		submenu "${MENU_MOUSE}" --class "设置/鼠标" --id "鼠标" {
			source ${prefix}/鼠标.lst
		}
		clear_default
	}
}
#------------------------------------------------------------------------------
function Kernel_SU {
	submenu "" --hotkey "insert" --hidden {
		menuentry "Kernel-5.4.217" --class "启事/KSU" --id "5.4" {
#			search --label --set root FYDEOS-DUAL-BOOT
#			set img=/fydeos/fydeos_dual_boot.img
#			loopback loopdev $img
#			linux /boot/vmlinuz-ksu-5.4.217 init=/sbin/init root=/fydeos/root \
#				boot=local rootwait noresume noswap ro \
#				loglevel=7 console= i915.modeset=1 cros_efi cros_debug \
#				fydeos_dualboot vtit=/sbin/init audit=0 audit=0 ventoyos=fydeos
#			initrd /boot/dual_boot_ramfs.cpio
			menuentry "${SOON_LATE}" --class "启事/进展中" {submenu_back}
		}
		submenu "Kernel-5.10.133" --class "启事/KSU" --id "5.10" {
#			search --label --set root FYDEOS-DUAL-BOOT
#			set img=/fydeos/fydeos_dual_boot.img
#			loopback loopdev $img
#			linux /boot/vmlinuz-ksu--5.10.133 init=/sbin/init root=/fydeos/root \
#				boot=local rootwait noresume noswap ro \
#				loglevel=7 console= i915.modeset=1 cros_efi cros_debug \
#				fydeos_dualboot vtit=/sbin/init audit=0 audit=0 ventoyos=fydeos
#			initrd /boot/dual_boot_ramfs.cpio
			menuentry "${SOON_LATE}!" --class "启事/进展中" {submenu_back}
		}
	}
}
#------------------------------------------------------------------------------
function refresh_display {
	hiddenentry "refresh" --hotkey "f5" {
		clear_menu
		normal
	}
}
#------------------------------------------------------------------------------
function global_environment {
	menu_hidden
	refresh_display
	Kernel_SU
}
#==============================================================================
