#==============================================================================
#####----{变量}----
#------------------------------------------------------------------------------
function save_grubenv {
	save_env --file=${cmdpath}/grubenv $@;
};
#==============================================================================

#==============================================================================
#####----{ASCII艺术字}----
#------------------------------------------------------------------------------
function echo_art {
	echo "  .-_'''-.   .-------.      ___    _  _______       .`````-.    "
	echo " '_( )_   \  |  _ _   \   .'   |  | |\  ____  \    /   ,-.  \   "
	echo "|(_ o _)|  ' | ( ' )  |   |   .'  | || |    \ |   (___/  |   |  "
	echo ". (_,_)/___| |(_ o _) /   .'  '_  | || |____/ /         .'  /   "
	echo "|  |  .-----.| (_,_).' __ '   ( \.-.||   _ _ '.     _.-'_.-'    "
	echo "'  \  '-   .'|  |\ \  |  |' (`. _` /||  ( ' )  \  _/_  .'       "
	echo " \  `-'`   | |  | \ `'   /| (_ (_) _)| (_{;}_) | ( ' )(__..--.  "
	echo "  \        / |  |  \    /  \ /  . \ /|  (_,_)  /(_{;}_)      |  "
	echo "   `'-...-'  ''-'   `'-'    ``-'`-'' /_______.'  (_,_)-------'  "
	echo "               ________    ____     __  ______         .-''-.   "
	echo "              |        |   \   \   /  /|    _ `''.   .'_ _   \  "
	echo "              |   .----'    \  _. /  ' | _ | ) _  \ / ( ` )   ' "
	echo "  _ _    _ _  |  _|____      _( )_ .'  |( ''_'  ) |. (_ o _)  | "
	echo " ( ' )--( ' ) |_( )_   | ___(_ o _)'   | . (_) `. ||  (_,_)___| "
	echo "(_{;}_)(_{;}_)(_ o._)__||   |(_,_)'    |(_    ._) ''  \   .---. "
	echo " (_,_)--(_,_) |(_,_)    |   `-'  /     |  (_.\.' /  \  `-'    / "
	echo "              |   |      \      /      |       .'    \       /  "
	echo "              '---'       `-..-'       '-----'`       `'-..-'   "
	echo "                                                                "
};
#==============================================================================

#==============================================================================
#####----{菜单配置}----
#------------------------------------------------------------------------------
function menu_config {
	if [ "菜单" == "${menu_id}" ]; then default="${selected}";
	elif [ "安装" == "${menu_id}" ]; then
		set default=${selected}; parent_menu=${menu_dir}/菜单.lst; parent=前;
	elif [ "时区" == "${menu_id}" ] -o [ "键盘" == "${menu_id}" ]; then default=$1; parent=${parent_id};
	else default=$1; parent=$2; if [ "主" == "$2" ]; then parent_menu=${menu_dir}/菜单.lst; fi; fi;
};
#==============================================================================

#==============================================================================
#####----{日期时间}----
#------------------------------------------------------------------------------
function refresh_date {
	set UTC=${HOUR}; NOW_YEAR=${YEAR}; NOW_MONTH=${MONTH}; NOW_DAY=${DAY}; NOW_WEEKDAY=${WEEKDAY};
	if [ "0" == "${TIME_ZONE}" ]; then NOW_HOUR=${UTC};
	elif [ "0" != "${TIME_ZONE}" ]; then expr --set=NOW_HOUR ${UTC}${TIME_ZONE}; fi;
};
#------------------------------------------------------------------------------
function menu_date {
	set NOW_WEEKDAY=${WEEKDAY};
	add_submenu "${NOW_MONTH}-${NOW_DAY}-${NOW_YEAR} ${NOW_WEEKDAY}" "时间和语言/日历" "t" "时区";
};
#==============================================================================

#==============================================================================
#####----{设备}----
#------------------------------------------------------------------------------
function enable_USB {
	insmod efi_mouse; terminal_input --append mouse; set gear_USB=开;
};
#------------------------------------------------------------------------------
function disable_USB {
	terminal_input --remove mouse; rmmod efi_mouse; set gear_USB=关;
};
#------------------------------------------------------------------------------
function enable_PS2 {
	insmod ps2mouse; terminal_input --append ps2mouse; set gear_PS2=开;
};
#------------------------------------------------------------------------------
function disable_PS2 {
	terminal_input --remove ps2mouse; rmmod ps2mouse; set gear_PS2=关;
};
#------------------------------------------------------------------------------
function enable_keymap {
	source ${menu_dir}/键盘配置.d/KBD_${KEYBOARD_LAYOUT}.cfg;
};
#------------------------------------------------------------------------------
function disable_keymap {
	setkey -d; set KEYBOARD_LAYOUT=""; number_keyboard=0;
	save_grubenv number_keyboard KEYBOARD_LAYOUT;
};
#------------------------------------------------------------------------------
function load_device {
	if [ "开" == "${gear_USB}" ]; then enable_USB; fi;
	if [ "开" == "${gear_PS2}" ]; then enable_PS2; fi;
	if [ "开" == "${gear_keymap}" ]; then enable_keymap; fi;
};
#==============================================================================

