#==============================================================================
#####----{环境变量}----
#------------------------------------------------------------------------------
function save_grubenv {
	save_env --file=${cmdpath}/grubenv $@;
};
#==============================================================================

#==============================================================================
#####----{关于}----
#------------------------------------------------------------------------------
function echo_art {
	echo -e "\n";
	echo "  .-_'''-.   .-------.      ___    _  _______       .`````-.    ";
	echo " '_( )_   \  |  _ _   \   .'   |  | |\  ____  \    /   ,-.  \   ";
	echo "|(_ o _)|  ' | ( ' )  |   |   .'  | || |    \ |   (___/  |   |  ";
	echo ". (_,_)/___| |(_ o _) /   .'  '_  | || |____/ /         .'  /   ";
	echo "|  |  .-----.| (_,_).' __ '   ( \.-.||   _ _ '.     _.-'_.-'    ";
	echo "'  \  '-   .'|  |\ \  |  |' (`. _` /||  ( ' )  \  _/_  .'       ";
	echo " \  `-'`   | |  | \ `'   /| (_ (_) _)| (_{;}_) | ( ' )(__..--.  ";
	echo "  \        / |  |  \    /  \ /  . \ /|  (_,_)  /(_{;}_)      |  ";
	echo "   `'-...-'  ''-'   `'-'    ``-'`-'' /_______.'  (_,_)-------'  ";
	echo "               ________    ____     __  ______         .-''-.   ";
	echo "              |        |   \   \   /  /|    _ `''.   .'_ _   \  ";
	echo "              |   .----'    \  _. /  ' | _ | ) _  \ / ( ` )   ' ";
	echo "  _ _    _ _  |  _|____      _( )_ .'  |( ''_'  ) |. (_ o _)  | ";
	echo " ( ' )--( ' ) |_( )_   | ___(_ o _)'   | . (_) `. ||  (_,_)___| ";
	echo "(_{;}_)(_{;}_)(_ o._)__||   |(_,_)'    |(_    ._) ''  \   .---. ";
	echo " (_,_)--(_,_) |(_,_)    |   `-'  /     |  (_.\.' /  \  `-'    / ";
	echo "              |   |      \      /      |       .'    \       /  ";
	echo "              '---'       `-..-'       '-----'`       `'-..-'   ";
	echo "                                                                ";
};
#------------------------------------------------------------------------------
function appear_tetris {
	if [ -z ${click_count} ]; then click_count=3; else decrement click_count; fi;
	if [ "0" -lt "${click_count}" ]; then echo -e $"You are now ${click_count} steps away from playing.""\n\n			https://github.com/M-L-P/grub2-fyde\n\n"; sleep 1;
	elif [ "0" -eq "${click_count}" ]; then click_count=4; tetris; fi;
	set selected=$1; configfile ${config_file};
}
#==============================================================================

#==============================================================================
#####----{菜单配置}----
#------------------------------------------------------------------------------
function menu_config {
	if [ "菜单" == "${menu_id}" ] -o [ "安装" == "${menu_id}" ]; then default="${selected}";
	else default=$1; fi;
	if [ "隐藏" == "$2" ]; then
		if [ "倒数" == "${menu_id}" ]; then background_image; refresh_theme;
		elif [ "语言" == "${menu_id}" ]; then refresh_theme; fi;
	fi; set line_submenu=0;
};
#==============================================================================

#==============================================================================
#####----{日期时间}----
#------------------------------------------------------------------------------
function refresh_date {
	set UTC=${HOUR}; NOW_YEAR=${YEAR}; NOW_MONTH=${MONTH}; NOW_DAY=${DAY}; NOW_WEEKDAY=${WEEKDAY};
	if [ "0" == "${TIME_ZONE}" ]; then NOW_HOUR=${UTC};
	elif [ "0" != "${TIME_ZONE}" ]; then expr --set=NOW_HOUR ${UTC}${TIME_ZONE}; fi;
};
#------------------------------------------------------------------------------
function menu_date {
	set NOW_WEEKDAY=${WEEKDAY};
	add_submenu "${NOW_MONTH}-${NOW_DAY}-${NOW_YEAR} ${NOW_WEEKDAY}" "时间和语言/日历" "t" "时区";
};
#==============================================================================

#==============================================================================
#####----{设备}----
#------------------------------------------------------------------------------
function enable_USB {
	insmod efi_mouse; terminal_input --append mouse; set gear_USB=开;
};
#------------------------------------------------------------------------------
function disable_USB {
	terminal_input --remove mouse; rmmod efi_mouse; set gear_USB=关;
};
#------------------------------------------------------------------------------
function enable_PS2 {
	insmod ps2mouse; terminal_input --append ps2mouse; set gear_PS2=开;
};
#------------------------------------------------------------------------------
function disable_PS2 {
	terminal_input --remove ps2mouse; rmmod ps2mouse; set gear_PS2=关;
};
#------------------------------------------------------------------------------
function enable_keymap {
	if [ -z "${menu_id}" ]; then source ${menu_dir}/键盘配置.d/KBD_${KEYBOARD_LAYOUT}.cfg; fi;
};
#------------------------------------------------------------------------------
function disable_keymap {
	setkey -d; set KEYBOARD_LAYOUT=""; number_keyboard=0;
	save_grubenv number_keyboard KEYBOARD_LAYOUT;
};
#------------------------------------------------------------------------------
function load_device {
	if [ "开" == "${gear_USB}" ]; then enable_USB; fi;
	if [ "开" == "${gear_PS2}" ]; then enable_PS2; fi;
	if [ "开" == "${gear_keymap}" ]; then enable_keymap; fi;
};
#==============================================================================

#==============================================================================
#####----{重置}----
#------------------------------------------------------------------------------
function restore_default {
	echo -e "\n\n\n\n\n\n\n	"$"You are going to lose your current settings!!!""\n	\n\n\n\n\n\n\n	"$"No (press [ESC] or [F4])""			"$"Yes (waiting for the countdown to end)""\n\n\n\n\n";
	if sleep -v -i 15; then disable_USB; disable_PS2;
		for key_name in ${grubenv_variables};do ini_get --set=${key_name} ${menu_dir}/重置.ini 默认:${key_name}; done; unset key_name;
		export lang=""; save_grubenv ${grubenv_variables}; clear_menu; normal;
	fi;
};
#==============================================================================