#==============================================================================
#####----{配置}----
#------------------------------------------------------------------------------
### 缩写路径
set theme_dir=${prefix}/主题/fyde; icondir=${theme_dir}/图标;
### 图形效果
set gfxmode=auto; gfxpayload=auto; terminal_output gfxterm;
### 加载字体
loadfont Microsoft_YaHei_Regular_12 Terminus_Regular_12;
loadfont Microsoft_YaHei_Regular_18 Terminus_Regular_18;
loadfont Microsoft_YaHei_Regular_24 Terminus_(TTF)_Regular_24;
loadfont Microsoft_YaHei_Regular_36 Terminus_(TTF)_Regular_36;
loadfont Microsoft_YaHei_Regular_48 Terminus_(TTF)_Regular_48;
#==============================================================================

#==============================================================================
#####----{功能}----
#------------------------------------------------------------------------------
function export_theme {
	export theme=${theme_dir}/版本/${FYDEOS_VERSION}-${SCALE_FACTOR}-${THEME_COLOR}.txt;
};
#------------------------------------------------------------------------------
function theme_section {
	if [ "实验性语言" == "$1" ]; then export theme=${theme_dir}/语言/话语气泡-${SCALE_FACTOR}-${THEME_COLOR}.txt;
	else export theme=${theme_dir}/${menu_id}/${menu_id}-${SCALE_FACTOR}-${THEME_COLOR}.txt; fi;
};
#------------------------------------------------------------------------------
function switch_theme {
	menuentry $"Light"" | "$"Dark" --class "主题/转换" --id "转换" {
		if [ "阳" == "${THEME_COLOR}" ]; then THEME_COLOR=阴;
		elif [ "阴" == "${THEME_COLOR}" ]; then THEME_COLOR=阳; fi;
		save_grubenv THEME_COLOR; selected=转换; export_theme; configfile ${config_file};
	};
};
#------------------------------------------------------------------------------
function schedule_theme {
	refresh_date;
	if [ "${NOW_HOUR}" -ge "${HOUR_DAWN}" ] -a [ "${NOW_HOUR}" -le "${HOUR_DUSK}" ]; then THEME_COLOR=阳;
	else THEME_COLOR=阴; fi; save_grubenv THEME_COLOR; export_theme;
};
#------------------------------------------------------------------------------
function auto_scale {
	set number_scale=$1; SCALE_FACTOR=$2; save_grubenv number_scale SCALE_FACTOR;
};
#------------------------------------------------------------------------------
function refresh_theme {
	if [ "开" == "${gear_scale}" ]; then
		videomode -c resolution; regexp --set=1:width '(^.*)[x].*$' ${resolution}
		if [ ${width} -lt 1536 ]; then auto_scale "2" "1x";
		elif [ "${width}" -ge 1536 ] -a [ "${width}" -lt 2048 ]; then auto_scale "3" "1.5x";
		elif [ "${width}" -ge 2048 ]; then auto_scale "4" "2x"; fi;
	fi;
	if [ "关" == "${gear_schedule}" ]; then export_theme;
	elif [ "开" == "${gear_schedule}" ]; then schedule_theme; fi;
};
#==============================================================================
refresh_theme;