#==============================================================================
#####----{配置}----
#------------------------------------------------------------------------------
### 缩写路径
set icondir=${theme_dir}/图标.d; gtpk_dir=${experimental_dir}/grub2_theme_package_kit;
### 图形效果
set gfxmode=auto; gfxpayload=auto; terminal_output gfxterm;
### 加载字体
loadfont Microsoft_YaHei_Regular_12 Terminus_Regular_12;
loadfont Microsoft_YaHei_Regular_18 Terminus_Regular_18;
loadfont Microsoft_YaHei_Regular_24 Terminus_(TTF)_Regular_24;
loadfont Microsoft_YaHei_Regular_36 Terminus_(TTF)_Regular_36;
loadfont Microsoft_YaHei_Regular_48 Terminus_(TTF)_Regular_48;
#==============================================================================

#==============================================================================
#####----{功能}----
#------------------------------------------------------------------------------
function load_gtpk {
	if [ "阴" == "${THEME_COLOR}" ]; then VAR_COLOR=Dark;
	elif [ "阳" == "${THEME_COLOR}" ]; then VAR_COLOR=Light; fi;
	set gtpk_openfyde_dir=${theme_dir}/openfyde.gtpk; line_gtpk=2;
	for item in ${gtpk_dir}/*.gtpk; do
		increment line_gtpk;
		regexp --set=1:gtpk_name '^.*\/(.*)\.gtpk$' "${item}";
		if [ -d ${item} ]; then gtpk_${gtpk_name}_dir=${item};
		elif [ -f ${item} ]; then
			loopback ${gtpk_name}.gtpk ${item};
			set gtpk_${gtpk_name}_dir=(${gtpk_name}.gtpk);
		fi; eval gtpk_name_dir="\$gtpk_${gtpk_name}_dir"; unset gtpk_name;
		ini_get --set=gtpk_name ${gtpk_name_dir}/info.ini Info:gtpk_name;
		ini_get --set=gtpk_branch ${gtpk_name_dir}/info.ini Info:gtpk_branch;
		set gtpk_name${line_gtpk}=${gtpk_name}_${gtpk_branch};
		unset gtpk_name; unset gtpk_branch;
	done; unset item; unset line_gtpk; unset gtpk_name_dir;
	eval gtpk_name_dir="\$gtpk_${GTPK_NAME}_dir";
	ini_get --set=wallpaper_latest ${gtpk_name_dir}/info.ini ${VAR_COLOR}:wallpaper_latest;
};
#------------------------------------------------------------------------------
function export_theme {
	load_gtpk;
	ini_get --set=list_light ${gtpk_name_dir}/info.ini Light:wallpaper_version;
	ini_get --set=list_Dark ${gtpk_name_dir}/info.ini Dark:wallpaper_version;
	ini_get --set=latest_Dark ${gtpk_name_dir}/info.ini Dark:wallpaper_latest;
	if [ "${list_light}" != "${list_Dark}" ]; then
		if [ "阳" == "${THEME_COLOR}" ]; then
			if [ "${WALLPAPER_VERSION}" == "${latest_Dark}" ]; then WALLPAPER_VERSION=00; number_version=2; fi;
		elif [ "阴" == "${THEME_COLOR}" ]; then
			if [ "${WALLPAPER_VERSION}" -lt "${latest_Dark}" ]; then WALLPAPER_VERSION=03; number_version=2; fi;
		fi; polarity="";
	else polarity=${VAR_COLOR}; fi;
	unset list_light; unset list_Dark; unset latest_Dark;
	export theme=${gtpk_name_dir}/${WALLPAPER_VERSION}-${SCALE_FACTOR}-${polarity}.txt;
};
#------------------------------------------------------------------------------
function theme_section {
	if [ "实验性语言" == "$1" ]; then export theme=${theme_dir}/语言.gtpk/话语气泡-${SCALE_FACTOR}-${THEME_COLOR}.txt;
	else export theme=${theme_dir}/${menu_id}.gtpk/${menu_id}-${SCALE_FACTOR}-${THEME_COLOR}.txt; fi;
};
#------------------------------------------------------------------------------
function switch_theme {
	menuentry $"Light"" | "$"Dark" --class "主题/转换" --id "转换" {
		if [ "阳" == "${THEME_COLOR}" ]; then THEME_COLOR=阴;
		elif [ "阴" == "${THEME_COLOR}" ]; then THEME_COLOR=阳; fi;
		save_grubenv THEME_COLOR; selected=转换; export_theme; configfile ${config_file};
	};
};
#------------------------------------------------------------------------------
function schedule_theme {
	refresh_date;
	if [ "${NOW_HOUR}" -ge "${HOUR_DAWN}" ] -a [ "${NOW_HOUR}" -le "${HOUR_DUSK}" ]; then THEME_COLOR=阳;
	else THEME_COLOR=阴; fi;
	save_grubenv THEME_COLOR; export_theme;
};
#------------------------------------------------------------------------------
function auto_scale {
	set number_scale=No.$1; SCALE_FACTOR=$2; save_grubenv number_scale SCALE_FACTOR;
};
#------------------------------------------------------------------------------
function refresh_theme {
	if [ "开" == "${gear_scale}" ]; then
		videomode -c resolution; regexp --set=1:width '(^.*)[x].*$' ${resolution}
		if [ ${width} -lt 1536 ]; then auto_scale "2" "1x";
		elif [ "${width}" -ge 1536 ] -a [ "${width}" -lt 2048 ]; then auto_scale "3" "1.5x";
		elif [ "${width}" -ge 2048 ]; then auto_scale "4" "2x"; fi;
	fi;
	if [ "关" == "${gear_schedule}" ]; then export_theme;
	elif [ "开" == "${gear_schedule}" ]; then schedule_theme; fi;
};
#==============================================================================
refresh_theme;