#==============================================================================
#####----{grub.cfg}----
#------------------------------------------------------------------------------
### 环境变量
set grub_prompt=" grub2-fyde>"; load_env --file=${cmdpath}/grubenv;
set grubenv_variables="TIME_OUT KEYBOARD_LAYOUT HOUR_DAWN HOUR_DUSK TIME_ZONE FYDEOS_VERSION THEME_COLOR lang SLOT gear_USB gear_PS2 gear_keymap gear_scale gear_schedule number_timeout number_keyboard number_dawn number_dusk number_timezone number_version number_lang number_slot";
#------------------------------------------------------------------------------
### 缩写路径
set menu_dir=${prefix}/菜单.d; experimental_dir=${cmdpath}/experimental; secondary_locale_dir=${experimental_dir}/secondary_locale;
#------------------------------------------------------------------------------
### 燧炻菜单
source ${menu_dir}/燧炻.lst;
#------------------------------------------------------------------------------
### 定义功能
source ${menu_dir}/功能.cfg;
#------------------------------------------------------------------------------
### 图形配置
source ${prefix}/主题/图形.cfg;
#------------------------------------------------------------------------------
### 倒计时
set timeout=${TIME_OUT};
#------------------------------------------------------------------------------
### 日期时间
refresh_date;
#------------------------------------------------------------------------------
### 加载设备
load_device;
#------------------------------------------------------------------------------
### 进入菜单
set menu_id=菜单; config_file="${menu_dir}/菜单.lst"; configfile ${config_file};
#==============================================================================