#==============================================================================
#####----{grub.cfg}----
#------------------------------------------------------------------------------
### 缩写路径
set dir_func=${prefix}/bin; dir_init=${prefix}/etc;
set dir_menu=${prefix}/菜单.d; dir_develop=${prefix}/开发.d;
dir_experimental=${cmdpath}/experimental; secondary_locale_dir=${dir_experimental}/secondary_locale;
#------------------------------------------------------------------------------
### 环境变量
set grub_prompt=" grub2-fyde>";
#------------------------------------------------------------------------------
### 定义功能
source ${dir_func}/功能.func;
#------------------------------------------------------------------------------
### 图形配置
source ${dir_func}/图形.func;
#------------------------------------------------------------------------------
### 燧炻菜单
source ${dir_develop}/燧炻.func;
#------------------------------------------------------------------------------
### 进入菜单
source ${dir_func}/菜单.func;
#==============================================================================